<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4>Usuarios</h4>
                    </div>
                    <div class="col-6 text-right">
                        <button [routerLink]="['/users']" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
                <br>
                <table class="table table-hover" *ngIf="users.length > 0">
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="w70">
                                <img [src]="user.img | image: 'user'" class="img50 img-circle pointer">
                            </td>
                            <td>
                                {{user.name}}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="users.length === 0" class="alert alert-info">
                    No se han encontrado coincidencias
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4>Hospital</h4>
                    </div>
                    <div class="col-6 text-right">
                        <button [routerLink]="['/hospitals']" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
                <br>
                <table class="table table-hover" *ngIf="hospitals.length > 0">
                    <tbody>
                        <tr *ngFor="let hospital of hospitals">
                            <td class="w70">
                                <img [src]="hospital.img | image: 'hospital'" class="img50 img-circle pointer">
                            </td>
                            <td>
                                {{hospital.name}}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="hospitals.length === 0" class="alert alert-info">
                    No se han encontrado coincidencias
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4>Medicos</h4>
                <br>
                <table class="table table-hover" *ngIf="medics.length > 0">
                    <tbody>
                        <tr *ngFor="let medic of medics">
                            <td class="w70">
                                <img [src]="medic.img | image: 'medic'" class="img50 img-circle pointer">
                            </td>
                            <td>
                                {{medic.name}}
                            </td>
                            <td>
                                <button [routerLink]="['/medic',medic._id]" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="medics.length === 0" class="alert alert-info">
                    No se han encontrado coincidencias
                </div>

            </div>
        </div>
    </div>
</div>